@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div>
        <span>@($"User.Identity.IsAuthenticated: {User.Identity.IsAuthenticated}")</span>
        @foreach (var claim in User.Claims)
        {
            <span>@claim.Type</span><span>@claim.Value</span><br />
        }
    </div>


    @Html.ActionLink("Page2", "UserInfo")


    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div>
            <p>
                <button type="submit" name="provider" value="Google" title="Log in using your Google account">Google login</button>
            </p>
        </div>
    </form>

    <form asp-action="Logout" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div>
            <p>

                <button type="submit" name="provider" value="Logout" title="Log out">Logout</button>
            </p>
        </div>
    </form>



</body>
</html>
