@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@using GoogleAuthSample.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<AppUser> SignInManager

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Login with</h2>

    <div>
        @ViewBag.Message
    </div>

    <div>
        @{
            if (ViewBag.Claims != null)
            {
                foreach (System.Security.Claims.Claim claim in ViewBag.Claims)
                {
                    <span>@claim.Type - @claim.Value</span><br />
                }
            }

        }
    </div>


    <form asp-action="Logout" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div>
            <p>

                <button type="submit" name="provider" value="Logout" title="Log out">Logout</button>
            </p>
        </div>
    </form>

    <form asp-action="Create" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div>
            <p>

                <button type="submit" name="provider" value="Create" title="Create">Create</button>
            </p>
        </div>
    </form>

</body>
</html>
