@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    @Html.ActionLink("Index", "Index")

    <div>
        @ViewBag.Message
    </div>

    <div>
        <span>@($"User.Identity.IsAuthenticated: {User.Identity.IsAuthenticated}")</span>
        @foreach (var claim in User.Claims)
        {
            <span>@claim.Type</span><span>@claim.Value</span><br />
        }
    </div>


</body>
</html>
